.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.messagesContainer {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    max-height: 60vh;
    border-bottom: 1px solid #eee;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.currentUserMessage {
    background-color: #4CAF50;
    color: white;
    margin-left: auto;
}

.otherUserMessage {
    background-color: #e0e0e0;
    color: black;
}

.timestamp {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    color: #0645AD;
    text-decoration: underline;
}
